body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://images.unsplash.com/photo-1503264116251-35a269479413') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-container {
  background-color: rgba(255, 255, 255, 0.511);
  padding: 30px;
  margin: 50px auto;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  margin-bottom: 20px;
  color: #333;
}

.form-card {
  background: #12383fd4;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.form-card label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.form-card input {
  width: 96%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remove-btn {
  background-color: #7fb9c386;
  color: white;
  border: none;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: white;
  color: #12383f;
  font-weight: 600;

}

.center-text {
  text-align: center;
  color: white;
  font-weight: 600;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.add-btn,
.submit-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-btn {
  background-color: #12383fd4;
  color: white;
}

.add-btn:hover {
  background-color: #12383f;
}

.submit-btn {
  background-color: #12383fd4;
  color: white;
}

.submit-btn:hover {
  background-color: #12383f;
}